{% load menu %}

<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <button class="btn btn-primary ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-list"></i> Open Menu</button>
    </div>
</nav>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="sidebar py-2 mb-4">
            <div class="nav flex-column" id="nav_accordion">
                <nav class="nav flex-column">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </nav>
                <nav class="nav flex-column nav-item has-submenu accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item">
                      <a data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="nav-link" href="#">Expense Categories <i class="bi bi-caret-down-fill"></i></a>
                      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          {% categories as categories %}
                            {% if categories %}                    
                                {% for category in categories %}
                                <a class="nav-link" href="{% url 'expense_category' category.slug %}">{{category.name}}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </nav>
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">Support</a>
                </nav>
                <nav class="nav flex-column">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </nav>
            </div>
        </nav>
    </div>
</div>