{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main_members.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
  <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
</head>
<body>

<script type="text/javascript">
  $(document).ready(function (){
    $("[data-bs-toggle=tooltip]").tooltip()
  })
</script>

<div class="container-fluid">

  {% include "members_menu.html" %}

  <div class="row mt-5 me-4">
    <div class="col ms-3 mt-3">

      {% if messages %}
      <div class="mb-2">
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            {{ message|safe }}
          </div>
        {% endif %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success" role="alert">
            {{ message|safe }}
          </div>
        {% endif %}
      {% endfor %}
      </div>
      {% endif %}

    {% block content %}
    {% endblock %}
    </div>
  </div>

</div>
</body>
</html>