{% extends 'members_base.html' %}
{% load static %}
{% block title %}Account & Settings{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Account & Settings</h4>
    </div>
</div>

<button type="button" data-bs-toggle="modal" data-bs-target="#deleteaccountmodal" class="btn btn-danger deleteaccount-button btn-sm">Delete Account</button>

<!-- Modal -->
<div class="modal fade" id="deleteaccountmodal" tabindex="-1" aria-labelledby="deleteaccountmodallabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="modal-body">
                <p>Are you sure you want to delete your account? All data for your user will be permanently deleted and cannot be recovered.</p>
                <p>This cannot be undone!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" name="submit" value="deleteaccount">Confirm Delete Account</button>
            </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}