{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Privacy Policy</h1>

        <p>Your privacy is important to us.</p>

        <p>We collect and store basic personal information when you create an account such as name and email address. This information is only used to provide account services on this site and is not sold or knowingly shared with any 3rd party.</p>

        <p>Our webserver collects and stores additional information such as your IP address and browser version. This information is used to troubleshoot website issues and is not sold or knowingly shared with any 3rd party.</p>
    </div>
</div>
{% endblock %}